{% comment %}
{% include organism.tooltips.html %}
{% endcomment %}
<ul class="o-list-bare o-layout">
  <li class="o-layout__item u-1/2 u-1/4@medium">
    {% include atom.tooltip.html title="Notifications" icon="notifications" badge="3" desc="View and manage notifications settings" location="bottom" %}
  </li>
  <li class="o-layout__item u-1/2 u-1/4@medium">
    {% include atom.tooltip.html title="Notifications" icon="notifications" badge="3" desc="View and manage notifications settings" location="top" %}
  </li>
  <li class="o-layout__item u-1/2 u-1/4@medium">
    {% include atom.tooltip.html title="Notifications" icon="notifications" badge="3" desc="View and manage notifications settings" location="right" %}
  </li>
  <li class="o-layout__item u-1/2 u-1/4@medium">
    {% include atom.tooltip.html title="Notifications" icon="notifications" badge="3" desc="View and manage notifications settings" location="left" %}
  </li>
</ul>

