.c-image {
  border: 4px solid shade($color-secondary,10);
  border-radius: $radius;
}

.c-image--left {
  transform: translateX(-#{$unit + $unit-small});
}

.c-image--bottom-left {
  // margin-top: $unit-small;
  // margin-bottom: $unit;
  transform: translateX(#{$unit + $unit-small});

  @include mq(medium) {
    transform: translateX(-#{$unit});
  }
}

.c-image--bottom-right {
  transform: translateX(-#{$unit + $unit-small});
}
