/* ==================================
   #COLLAPSED SECTIONS
   ================================== */


.c-collapsed {
  border-top: 2px solid shade($color-secondary-xlight,10);
}

  .c-collapsed__title {
    @include font-size($small,1.5);
    margin-bottom: 0;
    font-family: $font-secondary;
    font-weight: $bold;
    border-top: 1px dotted shade($color-secondary-xlight,10);

    &:first-of-type {
      border-top: 0;
    }

    @include mq(medium) {
      @include font-size($h6,1.5);
    }
  }

  .c-collapsed__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: inherit;
    color: inherit;
    border: 0;
    background-color: transparent;
    padding: $unit-small 0;
    transition: color $duration $easing;
    cursor: pointer;

    &,
    &:active {
      color: shade($color-secondary-xlight,40);
    }

    &:hover,
    &:focus,
    &[aria-expanded="true"] {
      color: shade($color-secondary-xlight,50);
    }

    &:focus {
      outline: 0;
      background-color: shade($color-secondary-xlight,10);
      box-shadow: inset 0 0 0 2px shade($color-secondary-xlight,10);
    }
  }

  .c-collapsed__body {
    border-top: 1px solid shade($color-secondary-xlight,10);
    padding-top: $unit-tiny;
  }
