---
layout: default
---

<section class="c-hero">
  <div class="c-hero__image">
    <img src="/assets/img/jpg/hero.jpg" alt="Hero image">
  </div>
  <div class="c-hero__body o-row-large">
    <div class="o-wrapper o-wrapper--large">
      <div class="o-box o-box--flush">
        <h1 class="c-page-title">Bedenk de properste app voor Brugge!</h1>
        <ul class="o-list-bare c-list-big">
          <li class="c-list-big__item">{% include atom.icon.html value="date" %} 9 en 10 november van 9u tot 21u</li>
          <li class="c-list-big__item"><a href="http://republiekbrugge.be/" class="c-link c-link--faux c-link--negative">{% include atom.icon.html value="location" %} De Republiek, Brugge</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="concept" class="o-row-large s-theme-secondary">
  <div class="o-wrapper o-wrapper--large">
    <div class="o-layout">
      <div class="o-layout__item u-2/3@medium">
        <h2 class="c-title">Opdracht:</h2>
        <p class="c-lead u-margin-bottom-none">
          Hoe kan de Stad zorgen voor een betere leefomgeving voor haar inwoners. Bedenk een app die steunt op open data en toon aan hoe deze mensen zal helpen. Dat kan een app voor het web, je telefoon of een nieuw uitgevonden toestel zijn.
        </p>
      </div>
      <div class="o-layout__item u-2/3@medium u-push-1/3@medium">
        <h3 class="c-subtitle">Wij fixen:</h3>
        <ul class="o-list-bare c-list u-margin-bottom-none">
          <li class="c-list__item">{% include atom.icon.html value="check" %} Een inspirerende werkplek in het centrum van de stad.</li>
          <li class="c-list__item">{% include atom.icon.html value="check" %} Eten en drinken, ja zelfs pintjes</li>
          <li class="c-list__item">{% include atom.icon.html value="check" %} Eén coach die jullie team opvolgt</li>
          <li class="c-list__item">{% include atom.icon.html value="check" %} Een professionele jury</li>
          <li class="c-list__item">{% include atom.icon.html value="check" %} Een schone prijzenpot</li>
        </ul>
      </div>
    </div>
  </div>
  {% comment %} @TODO: foto's invoegen {% endcomment %}
</section>



<section id="programma" class="o-row-large s-theme-white">
  <div class="o-wrapper o-wrapper--large">
    <h2 class="c-title u-margin-bottom u-margin-bottom-large@medium u-text-center">Op het programma</h2>
    <div class="o-layout o-layout--small">
      <div class="o-layout__item u-1/2@medium">
        <article class="c-card">
          <div class="o-box">
            <h3 class="c-subtitle c-subtitle--border">Vrijdag</h3>
            <ul class="o-list-bare c-list-agenda">
              <li class="c-list-agenda__item"><strong class="c-badge">8u00</strong> Deuren open voor koffie</li>
              <li class="c-list-agenda__item"><strong class="c-badge">9u00</strong> Kick-off</li>
              <li class="c-list-agenda__item"><strong class="c-badge">9u15</strong> Start hacking: brainstorm</li>
              <li class="c-list-agenda__item"><strong class="c-badge">11u00</strong> Inspiratiesessies voor wie vast zit of feedback wil</li>
              <li class="c-list-agenda__item"><strong class="c-badge">12u30</strong> Lunch</li>
              <li class="c-list-agenda__item"><strong class="c-badge">13u30</strong> Selectie en presentatie</li>
              <li class="c-list-agenda__item"><strong class="c-badge">15u30</strong> Elevator pitches</li>
              <li class="c-list-agenda__item"><strong class="c-badge">17u00</strong> Start prototyping</li>
              <li class="c-list-agenda__item"><strong class="c-badge">18u00</strong> Dinner</li>
              <li class="c-list-agenda__item"><strong class="c-badge">20u00</strong> Blijven gaan voor wie goesting heeft</li>
            </ul>
          </div>
        </article>
      </div>
      <div class="o-layout__item u-1/2@medium">
        <article class="c-card">
          <div class="o-box">
            <h3 class="c-subtitle c-subtitle--border">Zaterdag</h3>
            <ul class="o-list-bare c-list-agenda">
              <li class="c-list-agenda__item"><strong class="c-badge">8u00</strong> Ontbijt</li>
              <li class="c-list-agenda__item"><strong class="c-badge">9u00</strong> Start pitches</li>
              <li class="c-list-agenda__item"><strong class="c-badge">10u30</strong> Talks tijdens Juryberaadslaging</li>
              <li class="c-list-agenda__item"><strong class="c-badge">11u30</strong> Prijzen en bubbels</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section id="coaches" class="o-row-large s-theme-primary-xlight">
  <div class="o-wrapper o-wrapper--large">
    <div class="o-box o-box--flush">
      <h2 class="c-title u-margin-bottom u-margin-bottom-large@medium u-text-center">10 Coaches</h2>
      <ul class="o-layout o-layout--center u-margin-bottom">
        <li class="o-layout__item u-1/2@small u-1/3@medium">
          {% include molecule.card.html image="jpg/stock-1.jpg" title="Fré Dumazy" body="​Hacker van het eerste uur en codewonder bij Duo. Zijn specialiteit is het vinden van de juiste technologie voor het juiste idee." footnote="X10" link="#!" %}
        </li>
      </ul>
      <p class="c-lead u-text-center">
        <a href="#" class="c-link c-link--faux">Coach worden?</a>
      </p>
    </div>
  </div>
</section>

<section id="inschrijven" class="o-row-large s-theme-primary-dark">
  <div class="o-wrapper">
    <div class="o-box u-text-center">
      <h2 class="c-title">Inschrijven</h2>
      <p class="c-lead">
        Inschrijven kan enkel als je deelneemt via Howest, Kulab of Vives.
      </p>
      <p>
        <a href="#" class="c-btn c-btn--secondary c-btn--large">Schrijf je team nu in {% include atom.icon.html value="arrow" %}</a>
      </p>
    </div>
  </div>
</section>

<section id="data" class="o-row-large s-theme-secondary-light">
  <div class="o-wrapper">
    <div class="o-box o-box--flush">
      <h2 class="c-title u-margin-bottom u-text-center">Open data en tools</h2>
      <div class="c-collapsed js-collapsed">
        <h3 class="c-collapsed__title js-collapsed__title">Brugse datasets</h3>
        <p class="c-para-small">Brugge verzamelt en anonimiseerd data over jonge en oude mensen en hun noden. Zo zijn er bijvoorbeeld:</p>
        <ul class="o-list-bare c-list-small">
          <li class="c-list-small__item"><a href="https://www.brugge.be/open-data-grondgebied#wzc" target="_blank" class="c-link">De Woonzorgcentra</a></li>
          <li class="c-list-small__item"><a href="https://www.brugge.be/open-data-grondgebied#Speelbossen" target="_blank" class="c-link">De Speelbossen</a></li>
          <li class="c-list-small__item"><a href="https://www.brugge.be/open-data-grondgebied#kinderopvang" target="_blank" class="c-link">De kinderopvang</a></li>
          <li class="c-list-small__item"><a href="https://www.brugge.be/open-data-bevolking" target="_blank" class="c-link">Geslacht en leeftijd per sector</a></li>
        </ul>
        <p class="c-para-small">Alle Open Data van de stad vind je op het <a href="https://www.brugge.be/opendata" target="_blank" class="c-link">Open Data Portaal</a></p>
        <h3 class="c-collapsed__title js-collapsed__title">(West-)Vlaamse Datasets</h3>
        <p class="c-para-small">Binnen verschillende thema's heeft Vlaanderen maar ook de regio rond Brugge verschillende datasets beschikbaar. Gewoon snoepen.</p>
        <ul class="o-list-bare c-list-small">
          <li class="c-list-small__item"><a href="http://opendata.vlaanderen.be" target="_blank" class="c-link">Opendata in Vlaanderen</a>: alle datasets van Vlaanderen en haar gemeentes, binnen verschillende onderwerpen</li>
          <li class="c-list-small__item"><a href="https://data.gov.be/nl" target="_blank" class="c-link">Data.gov</a>: 6500 datasets in allerlei onderwerpen op nationaal niveau</li>
          <li class="c-list-small__item"><a href="https://download.agiv.be/catalogus" target="_blank" class="c-link">Agentschap voor geografische info</a>: Vlaamse kaartinfo. Vooral info over natuurlijke gegevens als hoogtes en overstromingsgebieden</li>
          <li class="c-list-small__item"><a href="https://www.opencultuurdata.be/datasets/" target="_blank" class="c-link">Open Cultuurdata</a>: open data van bibliotheken en musea</li>
          <li class="c-list-small__item"><a href="https://www.inter.vlaanderen" target="_blank" class="c-link">Westkans</a>: vooral focus op toeristische intitiaven</li>
        </ul>
        <h3 class="c-collapsed__title js-collapsed__title">Europese Datasets</h3>
        <p class="c-para-small">Veel meer data, op een iets overkoepelender niveau. Maar echt wel veel datasets.</p>
        <ul class="o-list-bare c-list-small">
          <li class="c-list-small__item"><a href="https://data.europa.eu/euodp/nl/data" target="_blank" class="c-link">Open data portaal EU</a>: meer dan 10k datasets over alles wat je op europees niveau wil bijhouden.</li>
          <li class="c-list-small__item">Nóg een <a href="https://www.europeandataportal.eu/nl/homepage" target="_blank" class="c-link">Europees open data portaal</a>: met alles rond gezondheid, energie, onderwijs, cultuur en sport.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="partners" class="o-row s-theme-primary-xlight">
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="u-hidden-visually">Partners</h2>
    <ul class="o-layout o-layout--middle">
      <li class="o-layout__item u-1/3 u-1/6@small">
        <a href="https://nerdlab.be" target="_blank">
          <img src="/assets/img/png/nerdlab.png" alt="Nerdlab logo" class="c-partner">
          <span class="u-hidden-visually">Nerdlab</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/6@small">
        <a href="http://resocbrugge.be" target="_blank">
          <img src="/assets/img/png/resoc.png" alt="Resoc logo" class="c-partner">
          <span class="u-hidden-visually">Resoc</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/6@small">
        <a href="https://www.brugge.be" target="_blank">
          <img src="/assets/img/png/StadBrugge.png" alt="Brugge logo" class="c-partner">
          <span class="u-hidden-visually">Brugge</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/6@small">
        <a href="https://turbo.be" target="_blank">
          <img src="/assets/img/png/StadBrugge.png" alt="Turbo logo" class="c-partner">
          <span class="u-hidden-visually">Turbo</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/6@small">
        <a href="http://republiekbrugge.be/" target="_blank">
          <img src="/assets/img/png/StadBrugge.png" alt="Republiek logo" class="c-partner">
          <span class="u-hidden-visually">Republiek</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/6@small">
        <a href="https://www.startandgo.be" target="_blank">
          <img src="/assets/img/png/OCBrugge.png" alt="Republiek logo" class="c-partner">
          <span class="u-hidden-visually">OC Brugge</span>
        </a>
      </li>
    </ul>
  </div>
</section>
